# Sample gitconfig

[hub]
    protocol = https
[user]
    name = AUTHORNAME
    email = AUTHOREMAIL
[alias]
    br = branch
    ci = commit
    cia = commit -a
    co = checkout
    cob = checkout -b
    df = diff
    st = status -sb
    last = log -1 HEAD
    promote = !$ZSH/bin/git-promote
    wtf     = !$ZSH/bin/git-wtf
    rank-contributors = !$ZSH/bin/git-rank-contributors
    count   = !git shortlog -sn
[core]
    editor = vim
    excludesfile = ~/.gitignore
[color]
    branch = auto
    diff = auto
    status = auto
    ui = true
[difftool]
    prompt = false
[help]
    autocorrect = 1
[mergetool]
    keepBackup = false


# Action flags

[fetch]
    prune = true
[pull]
    rebase = true
[push]
    # Setting for git 2.0 to surpress warning message
    default = simple
[rebase]
    autostash = true
