git/gitconfig.symlink
sublime/User/Package\ Control.sublime-settings
sublime/User/Package Control.last-run

# Track ssh config only
ssh/ssh.symlink/*
!ssh/ssh.symlink/config

# Track weechat config only
weechat/weechat.symlink/*
!weechat/weechat.symlink/*.config
