# dev: sync only VSCode settings
dev/vscode/*
!dev/vscode/snippets/
!dev/vscode/settings.json
!dev/vscode/keybindings.json

# apps: ignore duply gpg keys
apps/duply.symlink/**/*.gpg
apps/duply.symlink/**/*.asc

# docker: track k9s config only
docker/k9s.symlink/*
!docker/k9s.symlink/config.yaml

# git: ignore local .gitconfig
git/gitconfig.local.symlink

# gpg: track config only
gpg/gnupg.symlink/*
!gpg/gnupg.symlink/gpg.conf
!gpg/gnupg.symlink/gpg-agent.conf

# python: track profile config only
python/ipython.symlink/**/**
!python/ipython.symlink/**/
!python/ipython.symlink/**/ipython_config.py

# ssh: track config only
ssh/ssh.symlink/*
!ssh/ssh.symlink/authorized_keys
!ssh/ssh.symlink/config
!ssh/ssh.symlink/config.git

# system: ignore compiled hack
system/keyboard/disable-capslock-delay

# vim: ignore plugins
vim/vim.symlink/plugged
vim/vim.symlink/plugin
vim/vim.symlink/.netrwhist

# weechat: Track config/plugins only
weechat/weechat.symlink/*
!weechat/weechat.symlink/*.conf
!weechat/weechat.symlink/certs
!weechat/weechat.symlink/perl
!weechat/weechat.symlink/python
!weechat/weechat.symlink/weechat.png
