git/gitconfig.symlink
sublime/User/Package\ Control.sublime-settings
sublime/User/Package Control.last-run

# Track ssh config only
ssh/ssh.symlink/*
!ssh/ssh.symlink/config

# Ignore vim plugins
vim/vim.symlink/plugged

# Track weechat config/plugins only
weechat/weechat.symlink/*
!weechat/weechat.symlink/*.conf
!weechat/weechat.symlink/perl
!weechat/weechat.symlink/python
!weechat/weechat.symlink/weechat.png
