'editor':
  'showIndentGuide': true
  'fontSize': 12
  'preferredLineLength': 120
  'fontFamily': 'Source Code Pro'
'core':
  'excludeVcsIgnoredPaths': true
  'ignoredNames': [
    '.bundle'
    '.git'
    'log'
    'repositories'
    'tmp'
    'vendor'
  ]
  'hideGitIgnoredFiles': true
  'disabledPackages': [
    'exception-reporting'
    'metrics'
  ]
  'projectHome': '~/Code'
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
'spell-check':
  'grammars': [
    'text.plain'
    'source.gfm'
    'text.git-commit'
  ]
'welcome':
  'showOnStartup': false
'release-notes':
  'viewedVersion': '0.94.0'
'tree-view': {}
'git-diff': {}
'grammar-selector': {}
'markdown-preview': {}
