"*":
  Zen: {}
  "atom-beautify":
    general:
      _analyticsUserId: "0375ed6e-60c8-4e0e-bdc1-4fa64bf2fb56"
    json:
      indent_size: 2
  "autocomplete-plus": {}
  "autohide-tree-view":
    showDelay: 100
  core:
    disabledPackages: [
      "wrap-guide"
      "MagicPython"
    ]
    projectHome: "~/Code"
    telemetryConsent: "limited"
  editor:
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "38d73c0a-97ef-b336-ef00-e34dfad68a7c"
  "file-icons":
    coloured: false
    onChanges: true
  "git-blame":
    columnWidth: 331
    ignoreWhiteSpaceDiffs: true
  "highlight-selected": {}
  kite:
    showKiteTourOnStatup: false
  latex:
    engine: "xelatex"
    opener: "pdf-view"
    outputDirectory: "build"
  linter:
    lintOnChange: false
  "linter-docker": {}
  "linter-eslint": {}
  "linter-flake8":
    maxLineLength: 120
  "linter-sass-lint":
    globalSassLint: true
  "linter-ui-default":
    decorateOnTreeView: "None"
    tooltipFollows: "Keyboard"
    useBusySignal: false
  minimap: {}
  "multi-wrap-guide":
    columns: [
      80
      120
    ]
    icons: false
    locked: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "pdf-view":
    fitToWidthOnOpen: true
  "project-manager":
    alwaysOpenInSameWindow: true
    savePathsRelativeToHome: true
    showPath: false
  "project-plus":
    autoDiscover: false
    notifications: false
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  "status-bar": {}
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tree-view":
    focusOnReveal: false
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  "typewriter-scroll": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
