"*":
  Zen: {}
  "atom-beautify":
    general:
      _analyticsUserId: "0375ed6e-60c8-4e0e-bdc1-4fa64bf2fb56"
    json:
      indent_size: 2
  "atom-notes":
    directory: "/Users/omegak/Documents/Notes"
  "autocomplete-plus": {}
  "autohide-tree-view":
    showDelay: 100
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "wrap-guide"
      "git-blame"
      "language-python"
    ]
    projectHome: "~/Code"
    telemetryConsent: "limited"
  "disable-keybindings": {}
  editor:
    atomicSoftTabs: false
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: false
  emmet:
    extensionsPath: "~/.emmet"
  "exception-reporting":
    userId: "38d73c0a-97ef-b336-ef00-e34dfad68a7c"
  "file-icons":
    coloured: false
    onChanges: true
  "git-blame":
    columnWidth: 331
    ignoreWhiteSpaceDiffs: true
  "highlight-selected":
    onlyHighlightWholeWords: false
  kite:
    showKiteTourOnStatup: false
  latex:
    engine: "xelatex"
    opener: "pdf-view"
    outputDirectory: "build"
  linter:
    lintOnChange: false
  "linter-docker": {}
  "linter-eslint": {}
  "linter-flake8":
    maxLineLength: 120
  "linter-pylint":
    executablePath: "%p/.venv/bin/pylint"
  "linter-sass-lint":
    globalSassLint: true
  "linter-ui-default":
    decorateOnTreeView: "None"
    panelHeight: 98
    statusBarRepresents: "Current File"
  "markdown-preview":
    breakOnSingleNewline: true
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
      "source.gfm.notes"
    ]
  "markdown-preview-plus":
    breakOnSingleNewline: true
    enableLatexRenderingByDefault: true
  minimap:
    disablePythonDocLinks: true
  "multi-wrap-guide":
    columns: [
      80
      120
    ]
    icons: false
    locked: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "pdf-view":
    fitToWidthOnOpen: true
  "pinned-tabs": {}
  "project-manager":
    savePathsRelativeToHome: true
    showPath: false
  "project-plus":
    autoDiscover: false
    notifications: false
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
      "source.gfm.notes"
    ]
  "status-bar": {}
  tabs:
    addNewTabsAtEnd: true
    enableVcsColoring: true
  "tree-view":
    focusOnReveal: false
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  "typewriter-scroll": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  wordcount:
    hidechars: true
    ignorecode: true
".editorconfig.source":
  editor:
    autoIndent: true
