packages: [
  "atom-beautify"
  "atom-jinja2"
  "atom-notes"
  "blame"
  "build"
  "busy"
  "busy-signal"
  "editorconfig"
  "emmet"
  "file-icons"
  "git-blame"
  "highlight-selected"
  "Hydrogen"
  "intentions"
  "language-babel"
  "language-docker"
  "language-gitignore"
  "language-haproxy"
  "language-ini"
  "language-latex"
  "language-log"
  "language-nginx"
  "language-nunjucks"
  "last-cursor-position"
  "latex"
  "line-jumper"
  "linter"
  "linter-docker"
  "linter-eslint"
  "linter-flake8"
  "linter-htmlhint"
  "linter-js-yaml"
  "linter-markdown"
  "linter-pylint"
  "linter-rubocop"
  "linter-sass-lint"
  "linter-shellcheck"
  "linter-ui-default"
  "MagicPython"
  "markdown-preview-plus"
  "minimap"
  "multi-wrap-guide"
  "package-sync"
  "pdf-view"
  "pinned-tabs"
  "project-manager"
  "ssh-config"
  "tab-control"
  "typewriter-scroll"
  "wordcount"
]
