packages: [
  "atom-jinja2"
  "file-icons"
  "highlight-selected"
  "language-gitignore"
  "language-latex"
  "last-cursor-position"
  "latex"
  "linter"
  "linter-eslint"
  "linter-flake8"
  "MagicPython"
  "markdown-preview-plus"
  "minimap"
  "multi-wrap-guide"
  "package-sync"
  "pdf-view"
  "pinned-tabs"
  "ssh-config"
]
